@page
@model HymneALaGastronomie.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h1>Client Restaurants</h1>

@section Scripts{ 
    <script>

        $(function () {
            $.ajax("/api/restaurants",
                { method: "get" })
                .then(function (response) {
                    console.dir(response);
                });
        });
    </script>
}