@page "{restaurantId}"
@model HymneALaGastronomie.Pages.Restaurants.DeleteModel
@{
    ViewData["Title"] = "Delete";
}


<h2>Delete!</h2>
<div class="alert alert-dismissible alert-warning">
    <h4 class="alert-heading">Are you sure you want to delete '@Model.Restaurant.Name'?</h4>    
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="List" class="accept-policy">Cancel</a>
</form>

